﻿@{
    ViewBag.Title = "Home Page";
}
<!-- Content Header (Page header) -->
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard v3</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v3</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="card card-theme-color">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <h3 class="card-title">Active Cases</h3>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="card-total">
                                    Total : 2903
                                    <i class="fas fa-copy"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="sales-chart" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="card card-theme-color">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <h3 class="card-title">Pending Cases</h3>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="card-total">
                                    Total : 29
                                    <i class="fas fa-copy"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="sales-chart4" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="card card-theme-color">
                    <div class="card-header">
                        <h3 class="card-title">Ag Officials</h3>
                    </div>
                    <div class="card-body">
                        <table width="100%" class="table table-striped table-hover">
                            <tr>
                                <td>Chief Standing Council</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Standing Councils</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>Additional Standing Councils</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>Brief holders</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>Govt Advocates</td>
                                <td>2</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="card card-theme-color">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <h3 class="card-title">Disposed Cases</h3>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="card-total">
                                    Total : 2903
                                    <i class="fas fa-copy"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- /.d-flex -->

                        <div class="position-relative mb-4">
                            <canvas id="sales-chart2" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="card card-theme-color">
                    <div class="card-header">
                        <h3 class="card-title">Notifications</h3>
                    </div>
                    <div class="card-body">
                        <table width="100%" class="table table-striped table-hover">
                            <tr>
                                <td>Petition No.1 wants offot devit from petitioner</td>
                            </tr>
                            <tr>
                                <td>Petition No.1 wants offot devit from petitioner</td>
                            </tr>
                            <tr>
                                <td>Petition No.1 wants offot devit from petitioner</td>
                            </tr>
                            <tr>
                                <td>Petition No.1 wants offot devit from petitioner</td>
                            </tr>
                            <tr>
                                <td>Petition No.1 wants offot devit from petitioner</td>
                            </tr>
                            <tr>
                                <td>Petition No.1 wants offot devit from petitioner</td>
                            </tr>
                            <tr>
                                <td>Petition No.1 wants offot devit from petitioner</td>
                            </tr>
                            <tr>
                                <td>Petition No.1 wants offot devit from petitioner</td>
                            </tr>
                            <tr>
                                <td>Petition No.1 wants offot devit from petitioner</td>
                            </tr>
                            <tr>
                                <td>Petition No.1 wants offot devit from petitioner</td>
                            </tr>
                            <tr>
                                <td>Petition No.1 wants offot devit from petitioner</td>
                            </tr>
                            <tr>
                                <td>Petition No.1 wants offot devit from petitioner</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="card card-theme-color">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <h3 class="card-title">Context Order</h3>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="card-total">
                                    Total : 29
                                    <i class="fas fa-copy"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="sales-chart3" height="245"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="card card-theme-color">
                    <div class="card-header">
                        <h3 class="card-title">Pending User Request</h3>
                    </div>
                    <div class="card-body">
                        <table width="100%" class="table table-striped table-hover">
                            <tr>
                                <td>Name 1</td>
                                <td align="center">Lucknow</td>
                                <td align="center">
                                    <button class="download-button"><i class="fas fa-download"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Name 2</td>
                                <td align="center">Delhi</td>
                                <td align="center">
                                    <button class="download-button"><i class="fas fa-download"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Name 3</td>
                                <td align="center">Allahabad</td>
                                <td align="center">
                                    <button class="download-button"><i class="fas fa-download"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Name 4</td>
                                <td align="center">Delhi</td>
                                <td align="center">
                                    <button class="download-button"><i class="fas fa-download"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Name 5</td>
                                <td align="center">Lucknow</td>
                                <td align="center">
                                    <button class="download-button"><i class="fas fa-download"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/jqvmap/jquery.vmap.min.js")
    @Scripts.Render("~/FrontEnd/plugins/jqvmap/maps/jquery.vmap.usa.js")
    @Scripts.Render("~/FrontEnd/dist/js/pages/dashboard3.js")
    @Scripts.Render("~/Scripts/Court/Dashboard.js")
}

<!-- JQVMap -->
<!--<script src="~/FrontEnd/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="~/FrontEnd/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>-->
