﻿@model UPCourt.Web.Models.AdvocateMvcModel

@{
    ViewBag.Title = "Details";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Advocate Details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Advocate Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Designation</h3>
    </div>
    <form>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @readonly = "readonly" } })

                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", @type = "text", @readonly = "readonly" } })

                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contact No", @type = "text", @readonly = "readonly" } })

                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address", @type = "text", @readonly = "readonly" } })

                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                    @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @disabled = "disabled" })

                </div>
            </div>
            @* <div class="row">
                    <div class="form-group col-md-12">
                        <label for="exampleInputEmail1">Head Office Name</label>
                        <input type="text" class="form-control" placeholder="Enter H.O. Name">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                            <input type="checkbox" class="custom-control-input" id="customSwitch3">
                            <label class="custom-control-label" for="customSwitch3">H.O. Address</label>
                        </div>
                    </div>
                </div>*@
            <div class="row">
                <div class="form-group col-md-12">
                    @* <label>Designation</label>*@
                    @Html.LabelFor(model => model.Designation.Name, htmlAttributes: new { @class = "" }) <br />
                    @Html.DropDownListFor(m => m.DesignationId, ViewBag.Designations as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @id = "chosen-select", @disabled = "disabled" })

                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label>Court</label>
                    @*  @Html.ValidationMessageFor(model => model.Court.Name, "", new { @class = "text-danger" })*@
                    @* @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "" }) <br />*@
                   @Html.DropDownListFor(m=>m.AdvocateCourts, ViewBag.Courts as IEnumerable<SelectListItem>, new { @class = "form-control select2", @style = "width: 100%", @multiple = "multiple", @disabled = "disabled" })

                </div>
            </div>

        </div>
        <div class="card-footer">
            <a href="@Url.Action("Index", "Advocate")" class="btn btn-primary">
                Back
            </a>
        </div>
    </form>
</div>
@section scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

}