﻿@model UPCourt.Web.Models.AdvocateMvcModel

@{
    ViewBag.Title = "Edit";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Advocate Edit</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Advocate Edit</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Advocate</h3>
    </div>
    @using (Html.BeginForm("Edit", "Advocate", FormMethod.Post, new { @class = "col-md-12" }))
    {
        @Html.HiddenFor(model => model.AdvocateId)
        @Html.AntiForgeryToken()

        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contact No", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                        @Html.EnumDropDownListFor(m => m.Status, null, new
                   {
                       @class = "form-control select2",
                       @style = "width: 100%"
                   })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
                @* <div class="row">
                        <div class="form-group col-md-12">
                            <label for="exampleInputEmail1">Head Office Name</label>
                            <input type="text" class="form-control" placeholder="Enter H.O. Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                <label class="custom-control-label" for="customSwitch3">H.O. Address</label>
                            </div>
                        </div>
                    </div>*@
                <div class="row">
                    <div class="form-group col-md-12">
                        @* <label>Designation</label>*@
                        @Html.LabelFor(model => model.Designation.Name, htmlAttributes: new { @class = "" }) <br />
                        @Html.DropDownListFor(m => m.DesignationId, ViewBag.Designations as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @id = "chosen-select" })
                        @Html.ValidationMessageFor(model => model.Designation.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Court</label>
                        @*  @Html.ValidationMessageFor(model => model.Court.Name, "", new { @class = "text-danger" })*@
                        @* @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "" }) <br />*@
                        @Html.DropDownList("CourtTest", ViewBag.Courts as IEnumerable<SelectListItem>, new { @class = "form-control select2", @style = "width: 100%",@id= "Searchble-DropDown", @multiple = "multiple" })

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    }
</div>


@section Scripts
            {
    @* @Scripts.Render("~/FrontEnd/plugins/select2/js/select2.min.js")*@
    @Scripts.Render("~/Scripts/chosen.jquery.js")
    @Scripts.Render("~/Scripts/chosen.jquery.min.js")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.jquery.min.js"></script>*@
    <script type="text/javascript">
    $(document).ready(function () { $("#Searchble-DropDown").select2({ multiple: true }); });
   @*  $(function () {
        var SubCategories_selected = @JsonConvert.SerializeObject(Model.AdvocateCourts);
        SubCategories_selected.forEach(function (value, index) {
            $('[name="SubCategories"]').find(`[value="${value}"]`).prop("selected", true);
        });
        //recall the select2 init
        $('#Searchble-DropDown').select2();
    });*@
        @*  $("#chosen-select").chosen();*@
    </script>
}
