﻿@model UPCourt.Web.Models.NoticeMvcModel
@using core.koushikiSofatware.Helper
@{
    Layout = null;
}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Attorney General | Notice</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/bs-stepper/css/bs-stepper.min.css">
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a href="@Url.Action("Create", "Notice")" class="navbar-brand">
                    <img src="~/FrontEnd/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">Attorney General</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="@Url.Action("Create", "Notice")" class="nav-link">Home</a>
                        </li>
                        @*<li class="nav-item">
                                <a href="#" class="nav-link">Contact</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0"> Case Notice Entry </h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active"><a href="@Url.Action("Create", "Notice")">Case Notice Entry</a></li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-default">
                                @using (Html.BeginForm("Create", "Notice", FormMethod.Post, new { @class = "col-md-12" }))
                                {
                                    @Html.HiddenFor(model => model.NoticeId)
                                    @Html.AntiForgeryToken()
                                    <from>
                                        <div class="card-body p-0">
                                            <div class="bs-stepper">
                                                <div class="bs-stepper-header" role="tablist">
                                                    <!-- your steps here -->
                                                    <div class="step" data-target="#basic-details">
                                                        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                                                            <span class="bs-stepper-circle">1</span>
                                                            <span class="bs-stepper-label">BASIC DETAILS</span>
                                                        </button>
                                                    </div>
                                                    <div class="line"></div>
                                                    <div class="step" data-target="#case-details">
                                                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                                            <span class="bs-stepper-circle">2</span>
                                                            <span class="bs-stepper-label">CASE DETAILS</span>
                                                        </button>
                                                    </div>
                                                    <div class="line"></div>
                                                    <div class="step" data-target="#basic-index">
                                                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                                            <span class="bs-stepper-circle">3</span>
                                                            <span class="bs-stepper-label">BASIC INDEX</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="bs-stepper-content">
                                                    <!-- your steps content here -->
                                                    <div id="basic-details" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Petitioner Details</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="form-group col-md-4">
                                                                        @Html.LabelFor(model => model.Petitioner.Name, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.EditorFor(model => model.Petitioner.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @required = "true" } })
                                                                        @Html.ValidationMessageFor(model => model.Petitioner.Name, "", new { @class = "text-danger" })
                                                                    </div>
                                                                    <div class="form-group col-md-4">
                                                                        @Html.LabelFor(model => model.Petitioner.Email, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.EditorFor(model => model.Petitioner.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", @type = "email", @required = "true" } })
                                                                        @Html.ValidationMessageFor(model => model.Petitioner.Email, "", new { @class = "text-danger" })
                                                                    </div>
                                                                    <div class="form-group col-md-4">
                                                                        @Html.LabelFor(model => model.Petitioner.ContactNo, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.EditorFor(model => model.Petitioner.ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contact No.", @type = "text" } })
                                                                        @Html.ValidationMessageFor(model => model.Petitioner.ContactNo, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-md-12">
                                                                        @*@Html.LabelFor(model => model.Petitioner.Address, htmlAttributes: new { @class = "control-label", @for = "Address" })
                                                                            @Html.TextArea("Address", null, new { @class = "form-control", @placeholder = "Enter Address" })
                                                                            @Html.ValidationMessageFor(model => model.Petitioner.Address, "", new { @class = "text-danger" })*@
                                                                        @Html.LabelFor(model => model.Petitioner.Address, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.EditorFor(model => model.Petitioner.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address", @type = "text" } })
                                                                        @Html.ValidationMessageFor(model => model.Petitioner.Address, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-md-4">
                                                                        @Html.LabelFor(model => model.Petitioner.District, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.EditorFor(model => model.Petitioner.District, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter District", @type = "text", @required = "true" } })
                                                                        @Html.ValidationMessageFor(model => model.Petitioner.District, "", new { @class = "text-danger" })
                                                                    </div>
                                                                    <div class="form-group col-md-4">
                                                                        @Html.LabelFor(model => model.Petitioner.IDProof, htmlAttributes: new { @class = "" }) <br />
                                                                        @Html.EnumDropDownListFor(m => m.Petitioner.IDProof, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @required = "true" })
                                                                        @Html.ValidationMessageFor(model => model.Petitioner.IDProof, "", new { @class = "text-danger" })
                                                                    </div>
                                                                    <div class="form-group col-md-4">
                                                                        @Html.LabelFor(model => model.Petitioner.IDProofNumber, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.EditorFor(model => model.Petitioner.IDProofNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter ID Proof Number.", @type = "text", @required = "true" } })
                                                                        @Html.ValidationMessageFor(model => model.Petitioner.IDProofNumber, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.card-body -->
                                                        </div>
                                                        <!-- /.card -->
                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Counselor Details</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="form-group col-md-4">
                                                                        @Html.LabelFor(model => model.NoticeCounselor.Name, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.EditorFor(model => model.NoticeCounselor.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Counselor Name", @type = "text", @required = "true" } })
                                                                        @Html.ValidationMessageFor(model => model.NoticeCounselor.Name, "", new { @class = "text-danger" })
                                                                    </div>
                                                                    <div class="form-group col-md-4">
                                                                        @Html.LabelFor(model => model.NoticeCounselor.Email, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.EditorFor(model => model.NoticeCounselor.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Counselor Email", @type = "email", @required = "true" } })
                                                                        @Html.ValidationMessageFor(model => model.NoticeCounselor.Email, "", new { @class = "text-danger" })
                                                                    </div>
                                                                    <div class="form-group col-md-4">
                                                                        @Html.LabelFor(model => model.NoticeCounselor.ContactNo, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.EditorFor(model => model.NoticeCounselor.ContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Counselor Contact No.", @type = "text" } })
                                                                        @Html.ValidationMessageFor(model => model.NoticeCounselor.ContactNo, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        @Html.LabelFor(model => model.NoticeCounselor.EnrollmentNo, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.EditorFor(model => model.NoticeCounselor.EnrollmentNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Counselor Enrollment No.", @type = "text", @required = "true" } })
                                                                        @Html.ValidationMessageFor(model => model.NoticeCounselor.EnrollmentNo, "", new { @class = "text-danger" })
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        @Html.LabelFor(model => model.NoticeCounselor.RollNo, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.EditorFor(model => model.NoticeCounselor.RollNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Counselor Roll No.", @type = "text" } })
                                                                        @Html.ValidationMessageFor(model => model.NoticeCounselor.RollNo, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.card-body -->
                                                        </div>
                                                        <!-- /.card -->
                                                    </div>
                                                    <div id="case-details" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Notice Details</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="form-group col-md-4">
                                                                        @Html.LabelFor(model => model.NoticeNo, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.EditorFor(model => model.NoticeNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "NOC******", @type = "text", @readonly = "readonly" } })
                                                                    </div>
                                                                    <div class="form-group col-md-4">
                                                                        @Html.LabelFor(model => model.NoticeDate, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.EditorFor(model => model.NoticeDate, new { htmlAttributes = new { @class = "form-control", @type = "date", @required = "true" } })
                                                                        @Html.ValidationMessageFor(model => model.NoticeDate, "", new { @class = "text-danger" })
                                                                    </div>
                                                                    <div class="form-group col-md-4">
                                                                        @Html.LabelFor(model => model.NoticeType, htmlAttributes: new { @class = "" }) <br />
                                                                        @Html.EnumDropDownListFor(m => m.NoticeType, "--Select--", new { @class = "form-control select2", @style = "width: 100%", @required = "true" })
                                                                        @Html.ValidationMessageFor(model => model.NoticeType, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-md-12">
                                                                        @*@Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label", @for = "Subject" })
                                                                            @Html.TextArea("Address", null, new { @class = "form-control", @placeholder = "Enter Subject" })
                                                                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })*@
                                                                        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })
                                                                        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address", @type = "text" } })
                                                                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-md-12">
                                                                        <div class="custom-control custom-checkbox">
                                                                            @Html.CheckBoxFor(model => model.IsContextOrder, new { @class = "custom-control-input" })
                                                                            @Html.LabelFor(c => c.IsContextOrder, new { @class = "custom-control-label control-label" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.card-body -->
                                                        </div>
                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Party Details</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body partydetails">
                                                                <div id="Parties">
                                                                    @for (int i = 0; i < Model.NoticeParties.Count; i++)
                                                                    {
                                                                        @Html.EditorFor(model => model.NoticeParties[i], "NoticeParty")
                                                                    }
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    @Html.AddLinkNoticeParties("Add More Parties", "#Parties", ".Party", "NoticeParties", typeof(UPCourt.Web.Models.NoticePartyMvcModel))
                                                                </div>
                                                            </div>
                                                            <!-- /.card-body -->
                                                        </div>
                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Respondent Details</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body partydetails">
                                                                <div id="Respondents">
                                                                    @for (int i = 0; i < Model.NoticeRespondent.Count; i++)
                                                                    {
                                                                        @Html.EditorFor(model => model.NoticeRespondent[i], "NoticeRespondent")
                                                                    }
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    @Html.AddLinkNoticeRespondents("Add More Respondents", "#Respondents", ".Respondent", "NoticeRespondent", typeof(UPCourt.Web.Models.NoticeRespondentMvcModel))
                                                                </div>
                                                            </div>
                                                            <!-- /.card-body -->
                                                        </div>
                                                    </div>
                                                    <div id="basic-index" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Basic Index</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">
                                                                <div id="basicindex">
                                                                    @for (int i = 0; i < Model.NoticeBasicIndex.Count; i++)
                                                                    {
                                                                        @Html.EditorFor(model => model.NoticeBasicIndex[i], "BasicIndex")
                                                                    }
                                                                </div>
                                                                <div>
                                                                    <table id="example1" class="table table-bordered table-striped table-hover">
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <!-- /.card-body -->
                                                            <div class="card-footer d-flex justify-content-center align-items-center">
                                                                <button type="submit" name="action:Create" class="btn btn-primary">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </from>
                                }
                                <!-- /.card-body -->
                                <div id="btnGroup" class="card-footer">
                                    <button class="btn btn-primary" id="previousBtn" onclick="stepper.previous()">Previous</button>
                                    <button class="btn btn-primary" id="NextBtn" onclick="stepper.next()">Next</button>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <!-- /.row -->

                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/FrontEnd/dist/js/adminlte.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/FrontEnd/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <script>
        // BS-Stepper Init
        document.addEventListener('DOMContentLoaded', function () {
            window.stepper = new Stepper(document.querySelector('.bs-stepper'))
        })
        $(document).ready(function () {
            $('#a').hide();
            $("#btnhide").click(function () {
                $("#a").hide();
            });
            $("#btnshow").click(function () {
                $("#b").show();
            });
        });
    </script>

    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">

        var jsViewModel = {
            Documents: []
        };

        $("body").on("click", "#btnAdd", function () {
            //Reference the Name and Country TextBoxes.
            var txtName = $("#txtName");
            var txtCountry = $("#txtCountry");

            //Get the reference of the Table's TBODY element.
            var tBody = $("#tblCustomers > TBODY")[0];

            //Add Row.
            var row = tBody.insertRow(-1);

            //Add Name cell.
            var cell = $(row.insertCell(-1));
            cell.html(txtName.val());

            //Add Country cell.
            cell = $(row.insertCell(-1));
            cell.html(txtCountry.val());

            //Add Button cell.
            cell = $(row.insertCell(-1));
            var btnRemove = $("<input />");
            btnRemove.attr("type", "button");
            btnRemove.attr("onclick", "Remove(this);");
            btnRemove.val("Remove");
            cell.append(btnRemove);

            //Clear the TextBoxes.
            txtName.val("");
            txtCountry.val("");
        });

        function Remove(button) {
            //Determine the reference of the Row using the Button.
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(0).html();
            if (confirm("Do you want to delete: " + name)) {
                //Get the reference of the Table.
                var table = $("#tblCustomers")[0];

                //Delete the Table row using it's Index.
                table.deleteRow(row[0].rowIndex);
            }
        };


        function addNestedForm(container, counter, ticks, content,element) {
        var nextIndex = $(counter).length;
        var pattern = new RegExp(ticks, "gi");
            content = content.replace(pattern, nextIndex);
            $(container).append(content);
            console.log($(element.parentElement.previousElementSibling.lastChild.lastElementChild));
            var department = $(element.parentElement.previousElementSibling.lastChild.lastElementChild);
           department.hide();
           @* $.each(departments, ((i, r) => {
                //children[5] means department
                var idf = r.children[5];
                //console.log(idf);
                var domObj = jQuery(idf);
              //  console.log(domObj);
                domObj.hide()

            }))   *@
    }

        function basicIndex(item) {
            //console.log("BasicIndex", item);
            this.Model.Petitioner.Name = document.getElementById("Name");
            console.log("Step1");
            debugger;
            axios.post("/BasicIndex/addbasicindex", this.Model)
                .then(res => {
                    console.log("Step2");
                    if (!res.data.Data) {
                        return;
                    }
                    //this.Model.FlatDoorBlockNumber = res.data.Data.FlatDoorBlockNumber;
                    //this.Model.PremiseName = res.data.Data.PremiseName;
                    //this.Model.RoadStreet = res.data.Data.RoadStreet;
                    //this.Model.Pincode = res.data.Data.Pincode;
                    //this.Model.AreaLocality = res.data.Data.AreaLocality;
                    //this.Model.TownCity = res.data.Data.TownCity;
                    //this.Model.StateName = res.data.Data.StateName;
                    //this.Model.CountryName = res.data.Data.CountryName;
                    console.log("type", res.data.Data);
                })
                .catch(error => {
                    console.log(error.response)
                });
        }


        $(function () {
            var values = eval('@Html.Raw(ViewBag.Values)');
            if (values != null) {
                $("#TextBoxContainer").html("");
                $(values).each(function () {
                    $("#TextBoxContainer").append(GetDynamicTextBox(this));
                });
            }
        });

            function removeNestedForm(element, container, deleteElement) {
                $container = $(element).parents(container);
                $container.find(deleteElement).val('True');
                $container.hide();
            }

        $(document).ready(function () {
            //Department hide
            $(".Department").hide();
            //first time previous button show
            var cardFooter = document.querySelector("#btnGroup");
            var objCardFooter = jQuery(cardFooter);
           //get Previous button
            var FirstChild = objCardFooter.context.firstElementChild;
            //get Next Button
            var LastChild = objCardFooter.context.lastElementChild;

            var objFirstchild = jQuery(FirstChild);
            var objLastchild = jQuery(LastChild);
            //hide previous button when pageload
            objFirstchild.hide();
            $("#NextBtn").click(function () {

                objFirstchild.show();
                var basicIndexpage = document.querySelector("[data-target ='#basic-index']");
                var objbasicIndexpage = jQuery(basicIndexpage);
                console.log(objbasicIndexpage);
                if (objbasicIndexpage.context.className == "step active") {
                    //Next button hide in first page
                    objLastchild.hide();
                }
            })
            $("#previousBtn").click(function () {
                objLastchild.show();
                //get basic details button div
                var loginpage = document.querySelector("[data-target ='#basic-details']");
                //get basic index button div

                // conver jquery object
                var objloginpage = jQuery(loginpage);


                if (objloginpage.context.className == "step active") {
                  //previous button hide in first page
                    objFirstchild.hide();
                }
               // console.log(jQuery(loginpage));
            })
           @* console.log(objlastchild);
            console.log(lastchild);*@

           @* $("#chk").click(function () {
                if (!this.checked) {
                    $(".Department").hide();
                    $("#Individual").show();
                } else {
                    $("#Individual").hide();
                    $("#Department").show();
                }
            })*@
        });
      @*  $("#chk").click(function () {
            if (!this.checked) {
                $("#Department").hide();
                $("#Individual").show();
            } else {
                $("#Individual").hide();
                $("#Department").show();
            }
        });*@
        function chked(radio) {
            var Department = $(radio.parentNode.parentNode.parentNode.parentNode.children[5]);
            var Individual = $(radio.parentNode.parentNode.parentNode.parentNode.children[4]);
            var Checked = $(radio).attr('checked');

            if (Checked == "checked") {
               // console.log("Succesful");
                Department.show();
                Individual.hide();
            } else {
               // console.log("error");
                Department.hide();
                Individual.show();
                }
        }
        $(document).ready(function () {
            $('#btnUpload').click(function () {

                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {

                    var fileUpload = $("#exampleInputFile").get(0);
                    var files = fileUpload.files;
                    console.log("File", files);
                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    // Adding one more key to FormData object
                    //fileData.append('model', this);
                    console.log(fileData);
                    $.ajax({
                        url: '/BasicIndex/UploadFiles',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {                              
                            RebuildGrid(result);
                        },
                        error: function (err) {
                            //alert("Error", err.statusText);
                            console.log("Error", err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });
        });

        function RebuildGrid(documentResposnse) {

            if (!documentResposnse.IsSuccess) {
                alert(documentResposnse.Message);
                return;
            }

            for (var i = 0; i < documentResposnse.Data.length; i++) {
                var currentDoc = documentResposnse.Data[i];
                var modelCount = jsViewModel.Documents.length;
                var FirstPageNumber = 0;
                var lastPageNumber = 0;
                if (modelCount == 0) {
                    FirstPageNumber = 1;
                    lastPageNumber = currentDoc.PageCount;
                }
                if (modelCount != 0) {
                    var lastPageNumberDetails = jsViewModel.Documents[modelCount - 1]["Page No"].split("-");
                    console.log(lastPageNumberDetails);
                    FirstPageNumber = parseInt(lastPageNumberDetails[lastPageNumberDetails.length - 1]) + 1;
                    lastPageNumber = parseInt(lastPageNumberDetails[lastPageNumberDetails.length - 1]) + currentDoc.PageCount;
                }
                
                //lastPageNumber = modelCount == 0 ? currentDoc.PageCount : jsViewModel.Documents[modelCount - 1]["Page Number"] + currentDoc.PageCount;
                var viewModelElement = {
                    "Serial No": jsViewModel.Documents.length + 1,
                    "Page No": FirstPageNumber + '-' + lastPageNumber,
                    "Upload File": currentDoc.DocumentUrl
                }

                jsViewModel.Documents.push(viewModelElement);
            }

            

            buildHtmlTable("#example1",jsViewModel.Documents);
        }

        function buildHtmlTable(selector, myList) {
            $(selector).empty();
            var columns = addAllColumnHeaders(myList, selector);

            for (var i = 0; i < myList.length; i++) {
                var row$ = $('<tr class="tr-class-2"/>');
                for (var colIndex = 0; colIndex < columns.length; colIndex++) {
                    var cellValue = myList[i][columns[colIndex]];
                    if (cellValue == null) cellValue = "";
                    //console.log(myList[i][columns[2]]);
                    let url = myList[i][columns[2]];
                    if (colIndex === 2) {
                        cellValue = '<a href="' + url + '" target="_blank">' + 'Open' + '</a>';
                    }
                    row$.append($('<td/>').html(cellValue));
                }
                $(selector).append(row$);
            }
        }

        // Adds a header row to the table and returns the set of columns.
        // Need to do union of keys from all records as some records may not contain
        // all records.
        function addAllColumnHeaders(myList, selector) {
            var columnSet = []; 
            
            var headerTr$ = $('<tr/>');

            for (var i = 0; i < myList.length; i++) {
                var rowHash = myList[i];
                for (var key in rowHash) {
                    if ($.inArray(key, columnSet) == -1) {
                        columnSet.push(key);
                        headerTr$.append($('<th/>').html(key));
                    }
                }
            }
            $(selector).append(headerTr$);

            return columnSet;
        }

    </script>
</body>
</html>