﻿@using UPCourt.Web.Core;
@using UPCourt.Web.Models;
@using UPCourt.Entity;

@{
    var user = ApplicationUser.GetUserFromIdentity(User);
    //var AllPages = Enum.GetValues(typeof(PageName)).Cast<PageName>().ToList()
    //    .Where(F => F.GetCustomAttribute<PagePermissionAttribute>().PermissionTypes.Contains(PagePermissionType.CanView))
    //    .OrderBy(F => F.GetCustomAttribute<PagePermissionAttribute>().ParentMenue)
    //    .ThenBy(F => F.GetCustomAttribute<PagePermissionAttribute>().DisplayIndex)
    //    .ToList();
    //bool IsNoPageAssigned = true;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Attorney General</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/FrontEnd/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/FrontEnd/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/FrontEnd/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!--Date Picker-->
    <link rel="stylesheet" href="~/FrontEnd/plugins/daterangepicker/daterangepicker.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/dropzone/min/dropzone.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/summernote/summernote-bs4.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/FrontEnd/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/FrontEnd/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Alerts -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/sweetalert2/sweetalert2.min.css" />
    <!-- Logo -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/new-style.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <div class="preloader-logo-container">
                <img class="animation__shake" src="~/FrontEnd/dist/img/login-logo.png" alt="Logo" width="120">
            </div>
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Index", "Home")" class="nav-link">Home</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <!--<li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">-->
                <!-- Message Start -->
                <!--<div class="media">
                    <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            Brad Diesel
                            <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">Call me whenever you can...</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                    </div>
                </div>-->
                <!-- Message End -->
                <!--</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">-->
                <!-- Message Start -->
                <!--<div class="media">
                    <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            John Pierce
                            <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">I got your message bro</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                    </div>
                </div>-->
                <!-- Message End -->
                <!--</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">-->
                <!-- Message Start -->
                <!--<div class="media">
                    <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            Nora Silvester
                            <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">The subject goes here</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                    </div>
                </div>-->
                <!-- Message End -->
                <!--</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>-->
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="return confirm('Are you sure you want to logout?')" href="@Url.Action("Logout", "Login")" role="button">
                        <i class="nav-icon fas fa-user">
                            Logout
                        </i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            @*<a href="index3.html" class="brand-link">
                <img src="~/FrontEnd/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">UP Court</span>
            </a>*@

            @*@if (user != null)
                {
                    var isAG = user.UserType == UPCourt.Entity.UserType.AG;
                    var isCSC = user.UserType == UPCourt.Entity.UserType.CSC;
                    if (isAG)
                    {*@
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/FrontEnd/dist/img/user8-128x128.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@user.UserName</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        @*<li class="nav-item menu-open">
                                <a href="@Url.Action("Index", "Home")" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Dashboard
                                    </p>
                                </a>
                            </li>*@

                        @{
                            var ValidPermissions = user.User.UserRole.UserRolePagePermissions.Where(F => !F.PermittedPermissionTypes.IsEmptyCollection()).ToList();
                            string Guid = string.Empty;

                            var MasterMenue = ValidPermissions.Where(F => F.PermittedPermissionTypes.Contains(PagePermissionType.CanView))
                                .Select(F => F.PagePermission.PageName.GetCustomAttribute<PagePermissionAttribute>().ParentMenue)
                                .OrderBy(F => F.GetEnumDisplayAttribute().GetOrder())
                                .Distinct().ToList();

                            foreach (var ParentMenue in MasterMenue)
                            {
                                Guid = System.Guid.NewGuid().ToString("N");

                                var Pages = ValidPermissions.Where(F => F.PermittedPermissionTypes.Contains(PagePermissionType.CanView) &&
                                    F.PagePermission.PageName.GetCustomAttribute<PagePermissionAttribute>().ParentMenue == ParentMenue
                                ).Select(F =>
                                new
                                {
                                    PagePermission = F.PagePermission,
                                    PagePermissionType = F.PagePermission.PermissionTypes,
                                    PagePermissionAttr = F.PagePermission.PageName.GetCustomAttribute<PagePermissionAttribute>()
                                })
                                .GroupBy(F => F.PagePermissionAttr.DisplayText)
                                .Select(F => F.First())
                                .OrderBy(F => F.PagePermissionAttr.DisplayIndex)
                                .ToList();

                                var Master = Pages.FirstOrDefault();

                                if (ParentMenue == UPCourt.Entity.ParentMenue.StandAlone)
                                {
                                    var ViewPermission = Master.PagePermission.PermissionTypes.FirstOrDefault(F => F == PagePermissionType.CanView);
                                    if (ViewPermission.IsNull()) { continue; }
                                    var PagePermissionTypeAttr = ViewPermission.GetCustomAttribute<PagePermissionTypeAttribute>();

                                    <li class="nav-item menu-open">
                                        <a href="@Url.Action(PagePermissionTypeAttr.ActionName, Master.PagePermissionAttr.ControllerName)"
                                           class="nav-link" page="@Master.PagePermissionAttr.ControllerName" identifier="@Guid">
                                            <i class="@Master.PagePermissionAttr.IconClass"></i>
                                            <p>
                                                @Master.PagePermissionAttr.DisplayText
                                            </p>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a href="#" class="nav-link" identifier="@Guid">
                                            <i class="nav-icon fas fa-th"></i>
                                            <p>
                                                @Master.PagePermissionAttr.ParentMenue.GetEnumDisplayAttribute().GetDescription()
                                                <i class="fas fa-angle-left right"></i>
                                            </p>
                                        </a>

                                        @foreach (var ChildMenue in Pages)
                                        {
                                            var ViewPermission = ChildMenue.PagePermission.PermissionTypes.FirstOrDefault(F => F == PagePermissionType.CanView);
                                            if (ViewPermission.IsNull()) { continue; }
                                            var PagePermissionTypeAttr = ViewPermission.GetCustomAttribute<PagePermissionTypeAttribute>();

                                            <ul class="nav nav-treeview">
                                                <li class="nav-item">
                                                    <a href="@Url.Action(PagePermissionTypeAttr.ActionName, ChildMenue.PagePermissionAttr.ControllerName)"
                                                       class="nav-link" page="@ChildMenue.PagePermissionAttr.ControllerName" parent="@Guid">
                                                        <i class="@ChildMenue.PagePermissionAttr.IconClass"></i>
                                                        <p>@ChildMenue.PagePermissionAttr.DisplayText</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        }
                                    </li>
                                }
                            }

                            @*//var ValidPermissions = user.User.UserRole.UserRolePagePermissions.Where(F => !F.PermittedPermissionTypes.IsEmptyCollection()).ToList();
                                //string Guid = string.Empty;

                                var UserAccess = (from Page in ValidPermissions
                                                  where Page.PermittedPermissionTypes.Contains(PagePermissionType.CanView)
                                                  let PagePerAttr = Page.PagePermission.PageName.GetCustomAttribute<PagePermissionAttribute>()
                                                  orderby PagePerAttr.ParentMenue.GetEnumDisplayAttribute().Order, PagePerAttr.DisplayIndex
                                                  select new
                                                  {
                                                      Page = Page,
                                                      PagePermission = Page.PagePermission,
                                                      PagePermissionType = Page.PagePermission.PermissionTypes,
                                                      PagePermissionAttr = PagePerAttr
                                                  }).ToList();

                                //When there is no parent menue
                                foreach (var EmptyMenue in UserAccess.Where(F => F.PagePermissionAttr.ParentMenue == ParentMenue.StandAlone).ToList())
                                {
                                    Guid = System.Guid.NewGuid().ToString("N");
                                    var ViewPermission = EmptyMenue.PagePermission.PermissionTypes.FirstOrDefault(F => F == PagePermissionType.CanView);
                                    if (ViewPermission.IsNull()) { continue; }
                                    var PagePermissionTypeAttr = ViewPermission.GetCustomAttribute<PagePermissionTypeAttribute>();

                                    <li class="nav-item menu-open">
                                        <a href="@Url.Action(PagePermissionTypeAttr.ActionName, EmptyMenue.PagePermissionAttr.ControllerName)"
                                           class="nav-link" page="@EmptyMenue.PagePermissionAttr.ControllerName" identifier="@Guid">
                                            <i class="@EmptyMenue.PagePermissionAttr.IconClass"></i>
                                            <p>
                                                @EmptyMenue.PagePermissionAttr.DisplayText
                                            </p>
                                        </a>
                                    </li>
                                }

                                // Items by Parent Menue
                                var MenueHavingChildren = UserAccess.Where(F => F.PagePermissionAttr.ParentMenue != ParentMenue.StandAlone)
                                    .Select(F => F.PagePermissionAttr.ParentMenue)
                                    .OrderBy(F => F.GetEnumDisplayAttribute().GetOrder())
                                    .Distinct().ToList();

                                foreach (ParentMenue ParentMenue in MenueHavingChildren)
                                {
                                    var ValidDistinctByPages = UserAccess.Where(F => F.PagePermissionAttr.ParentMenue == ParentMenue)
                                        .GroupBy(F => F.PagePermissionAttr.DisplayText)
                                        .Select(F => F.First())
                                        .ToList();
                                    Guid = System.Guid.NewGuid().ToString("N");

                                    <li class="nav-item">
                                        <a href="#" class="nav-link" identifier="@Guid">
                                            <i class="nav-icon fas fa-th"></i>
                                            <p>
                                                @ParentMenue.GetEnumDisplayAttribute().GetDescription()
                                                <i class="fas fa-angle-left right"></i>
                                            </p>
                                        </a>

                                        @foreach (var ChildMenue in ValidDistinctByPages)
                                        {
                                            var ViewPermission = ChildMenue.PagePermission.PermissionTypes.FirstOrDefault(F => F == PagePermissionType.CanView);
                                            if (ViewPermission.IsNull()) { continue; }
                                            var PagePermissionTypeAttr = ViewPermission.GetCustomAttribute<PagePermissionTypeAttribute>();

                                            <ul class="nav nav-treeview">
                                                <li class="nav-item">
                                                    <a href="@Url.Action(PagePermissionTypeAttr.ActionName, ChildMenue.PagePermissionAttr.ControllerName)"
                                                       class="nav-link" page="@ChildMenue.PagePermissionAttr.ControllerName" parent="@Guid">
                                                        <i class="@ChildMenue.PagePermissionAttr.IconClass"></i>
                                                        <p>@ChildMenue.PagePermissionAttr.DisplayText</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        }
                                    </li>
                                }*@
                        }


                        @*<li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        Master Page
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                @foreach (var Page in AllPages)
                                {
                                    var RolePage = user.User.UserRole.UserRolePagePermissions.FirstOrDefault(F => F.PagePermission.PageName == Page);
                                    if (RolePage.IsNull() || RolePage.PermittedPermissionTypes.IsNull()) { continue; }
                                    var ViewPermission = RolePage.PermittedPermissionTypes.FirstOrDefault(F => F == PagePermissionType.CanView);
                                    if (ViewPermission.IsNull()) { continue; }
                                    var PagePermissionTypeAttr = ViewPermission.GetCustomAttribute<PagePermissionTypeAttribute>();
                                    var PagePermissionAttr = Page.GetCustomAttribute<PagePermissionAttribute>();
                                    IsNoPageAssigned = false;
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action(PagePermissionTypeAttr.ActionName, PagePermissionAttr.ControllerName)" class="nav-link">
                                                <i class="@PagePermissionAttr.IconClass"></i>
                                                <p>@PagePermissionAttr.DisplayText</p>
                                            </a>
                                        </li>
                                    </ul>
                                }
                                @if (IsNoPageAssigned)
                                {
                                    Response.Redirect(Url.Action("Index", "Login"));
                                }
                            </li>
                             <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-th"></i>
                                        <p>
                                            Master Page
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "Advocate")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Advocate</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "AGDepartment")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>AG-Department</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "CaseStatus")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Case Status</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "Court")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Court</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "GovermentDepartment")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Goverment Department</p>
                                            </a>
                                        </li>
                                    </ul>

                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "Designation")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Designation</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "Region")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Region</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "User")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>User</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Index", "UserRole")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>User Role</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "UserCredentialRequest")" class="nav-link">
                                        <i class="nav-icon fas fa-copy"></i>
                                        <p>
                                            User Credential Request
                                        </p>
                                    </a>
                                </li>*@
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>

            <!--}
            if (isCSC)
            {-->
            <!-- Sidebar -->
            <!--<div class="sidebar">-->
            <!-- Sidebar user panel (optional) -->
            <!--<div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/FrontEnd/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">@user.UserName</a>
                </div>
            </div>-->
            <!-- SidebarS<!-- SidebarSearch Form -->
            <!--<div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>-->
            <!-- Sidebar Menu -->
            <!--<nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">-->
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <!--<li class="nav-item menu-open">
                        <a href="@Url.Action("Index", "Home")" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>-->
            <!-- /.sidebar-menu -->
            <!--</div>
                }
            }
            else
            {
                Response.Redirect(Url.Action("Index", "Login"));
            }-->
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!--<div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Dashboard</h1>
                    </div>-->
            <!-- /.col -->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div>-->
            <!-- /.col -->
            <!--</div>--><!-- /.row -->
            <!--</div>--><!-- /.container-fluid -->
            <!--</div>-->
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @*<footer class="main-footer">
            <strong>Copyright &copy; 2021 <a href="#">KS</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>*@

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/FrontEnd/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/FrontEnd/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/FrontEnd/plugins/sparklines/sparkline.js"></script>
    <!-- Select2 -->
    <script src="~/FrontEnd/plugins/select2/js/select2.full.min.js"></script>

    <!-- jQuery Knob Chart -->
    <script src="~/FrontEnd/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/FrontEnd/plugins/moment/moment.min.js"></script>
    <script src="~/FrontEnd/plugins/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/FrontEnd/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/FrontEnd/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/FrontEnd/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/FrontEnd/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/FrontEnd/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/FrontEnd/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/FrontEnd/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="~/Scripts/axios.min.js"></script>*@
    <script src="~/Scripts/Court/MenueHandler.js"></script>
    <script src="~/FrontEnd/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/FrontEnd/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/FrontEnd/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/FrontEnd/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/FrontEnd/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/FrontEnd/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/FrontEnd/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/FrontEnd/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/FrontEnd/plugins/jszip/jszip.min.js"></script>
    <script src="~/FrontEnd/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/FrontEnd/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/FrontEnd/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/FrontEnd/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/FrontEnd/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/FrontEnd/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Scripts/Court/ToastMessage.js"></script>
    @*@RenderSection("menu", required: false)*@
    @RenderSection("scripts", required: false)

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            DisplayMessage(JSON.parse("@ViewBag.Message".replace(/&quot;/g, '"')))
        </script>
    }
</body>
</html>



@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
