﻿@model UPCourt.Web.Models.GovermentDepartmentMvcModel
@using core.koushikiSofatware.Helper
@{
    ViewBag.Title = "Edit";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Goverment Department Edit</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Goverment Department Edit</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Goverment Department</h3>
    </div>

    @using (Html.BeginForm("Edit", "GovermentDepartment", FormMethod.Post, new { @class = "col-md-12" }))

    {

        @Html.HiddenFor(model => model.GovernmentDepartmentId)
        @Html.AntiForgeryToken()

        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    @* <div class="form-group col-md-4">
                @Html.LabelFor(model => model.GovernmentDepartmentContactNos[0], htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.GovernmentDepartmentContactNos[0], new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contact no", @type = "text" } })
                @Html.ValidationMessageFor(model => model.GovernmentDepartmentContactNos[0], "", new { @class = "text-danger" })
            </div>*@
                </div>





                <div id="Addresses">
                    <label>Addresses</label>
                    @for (int i = 0; i < Model.GovernmentDepartmentAddresses.Count; i++)
                    {
                        @Html.EditorFor(model => model.GovernmentDepartmentAddresses[i], "Address")
                    }
                </div>
                <div class="form-group col-md-12">

                    @Html.AddLinkAddress("Add Adresss", "#Addresses", ".Address", "GovernmentDepartmentAddresses", typeof(UPCourt.Web.Models.GovernmentDepartmentAddressMvcModel))
                </div>
                <br />




                <div id="phoneNumbers">
                    <label>Phone Numbers</label>
                    @for (int i = 0; i < Model.GovernmentDepartmentContactNos.Count; i++)
                    {
                        @Html.EditorFor(m => m.GovernmentDepartmentContactNos[i], "Phone")
                    }
                </div>

                <div class="form-group col-md-12">
                    @Html.AddLinkPhone("Add Phone No ", "#phoneNumbers", ".phoneNumber", "GovernmentDepartmentContactNos", typeof(UPCourt.Web.Models.GovernmentDepartmentContactNoMvcModel))
                </div>


                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                        @Html.EnumDropDownListFor(m => m.Status, "--Select--", new
                   {
                       @class = "form-control select2",
                       @style = "width: 100%"
                   })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.HeadOffice, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.HeadOffice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter HeadOffice Name", @type = "text" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="checkbox">

                            @Html.CheckBoxFor(model => model.IsDefault)
                            @Html.LabelFor(c => c.IsDefault, new { @class = "col-sm-2 control-label" })
                        </div>

                    </div>
                </div>
                @*<div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="exampleInputFile">
                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text">Upload</span>
                </div>
            </div>
        </div>*@
                @*<div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>*@
            </div>
            <!-- /.card-body -->
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">POC Details</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        @*<button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>*@
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.POCName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.POCName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Name", @type = "text" } })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.POCContact, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.POCContact, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter POC Contact No", @type = "text" } })
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    }
</div>
<script type="text/javascript">
            function removeNestedForm(element, container, deleteElement) {
                $container = $(element).parents(container);
                $container.find(deleteElement).val('True');
                $container.hide();
    }
    function addNestedForm(container, counter, ticks, content) {
        var nextIndex = $(counter).length;
        var pattern = new RegExp(ticks, "gi");
        content = content.replace(pattern, nextIndex);
        $(container).append(content);
    }
    function uncheckOther(radio) {
        var allRadioList = $(".HeadOfficeAddress");
         
        $.each(allRadioList, ((i,r) => {
             
            if (r.id !== radio.id) {
                $('#' + r.id).prop('checked', false)
                 
            }
        }))
    }
</script>
