﻿@model IEnumerable<UPCourt.Web.Models.GovermentDepartmentMvcModel>
@{
    ViewBag.Title = "Index";
}
@*@section Menu {
        @Scripts.Render("~/Scripts/Tables/Data/menu")
    }*@
@*@Styles.Render("~/FrontEnd/plugins/datatables/css")*@
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Goverment Department</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Goverment Department</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-block btn-success" })
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            @* <th>Address</th>
                                <th>Contact No.</th>*@
                            <th>Email</th>
                            <th>Head Office</th>
                            <th>POC Name</th>
                            <th>Assign User</th>
                            <th>View</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var contact = item.GovernmentDepartmentContactNos.FirstOrDefault();
                            var address = item.GovernmentDepartmentContactNos.FirstOrDefault();
                            <tr>
                                <td>@item.Name</td>

                                @*  <td>@item.Name</td>
                                    <td>@item.Name</td>*@
                                <td>@item.Email</td>
                                <td>@item.HeadOffice</td>
                                <td>@item.POCName</td>
                                @if (item.IsAssignUser == true)
                                {
                                    <td class="project-actions text-center">
                                        <div>
                                            <a class="btn btn-success btn-sm disabled">
                                                <i class="fas fa-user">
                                                </i> Already Assigned
                                            </a>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="project-actions text-center">
                                        <div>
                                            <a class="btn btn-primary btn-sm" onclick="AddUsermodal('@item.GovernmentDepartmentId');">
                                                <i class="fas fa-user">
                                                </i> Assign User
                                            </a>
                                        </div>
                                    </td>
                                }

                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="@Url.Action("Details", "GovermentDepartment", new { id = item.GovernmentDepartmentId })">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-info btn-sm" href="@Url.Action("Edit", "GovermentDepartment", new { id = item.GovernmentDepartmentId })">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                </td>
                            </tr>

                        }
                        @*<tr>
                                <td>The Art Department</td>
                                <td>Address ...</td>
                                <td>8987457801</td>
                                <td>art@gmail.com</td>
                                <td>UP</td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>The Mechanical Production Department</td>
                                <td>Address2 ...</td>
                                <td>8987457803</td>
                                <td>mechanical@gmail.com</td>
                                <td>UP</td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>The Media Department</td>
                                <td>Address3 ...</td>
                                <td>8987457804</td>
                                <td>media@gmail.com</td>
                                <td>UP</td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>The Contact Department</td>
                                <td>Address4 ...</td>
                                <td>8987457805</td>
                                <td>contact@gmail.com</td>
                                <td>UP</td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>The Merchandizing Department</td>
                                <td>Address5 ...</td>
                                <td>8987457806</td>
                                <td>merchandizing@gmail.com</td>
                                <td>UP</td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>The Billing Department</td>
                                <td>Address6 ...</td>
                                <td>8987457807</td>
                                <td>billing@gmail.com</td>
                                <td>UP</td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>The Checking Department</td>
                                <td>Address6 ...</td>
                                <td>8987457807</td>
                                <td>checking@gmail.com</td>
                                <td>UP</td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>The Accounting Department</td>
                                <td>Address6 ...</td>
                                <td>8987457807</td>
                                <td>accounting@gmail.com</td>
                                <td>UP</td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>The Research Department</td>
                                <td>Address7 ...</td>
                                <td>8987457808</td>
                                <td>research@gmail.com</td>
                                <td>UP</td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>The Research Department</td>
                                <td>Address8 ...</td>
                                <td>8987457809</td>
                                <td>research1@gmail.com</td>
                                <td>UP</td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>The Research Department</td>
                                <td>Address8 ...</td>
                                <td>8987457809</td>
                                <td>research1@gmail.com</td>
                                <td>UP</td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                </td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<div class="modal" id="CreateUserSubModal" tabindex="-1" role="dialog" aria-labelledby="CreateUserModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example1ModalLabel">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="divCreateUserSubModalBody">

            </div>
            <div class="modal-footer justify-content-between">
                @* <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
    @*@Scripts.Render("~/FrontEnd/plugins/datatables/js")*@
    @*@Scripts.Render("~/Scripts/Tables/Data")*@
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function AddUsermodal(GovernmentDepartmentId) {
        debugger;
        $("#divCreateUserSubModalBody").empty();
        $.ajax({
            type: "GET",
            url: "/GovermentDepartment/CreateUser/",
            data: { "GDI": GovernmentDepartmentId},
            success: function (response) {
                $("#divCreateUserSubModalBody").append(response);
                $("#CreateUserSubModal").modal("show");
            },
            error: function (errorData) { onError(errorData); }
        });
    }


</script>
