﻿@model UPCourt.Web.Models.CaseFilterMvcModel

@using UPCourt.Entity;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ASno = 0;
    var DSno = 0;
    var CSno = 0;

    string ALink = "", DLink = "", CLink = "";
    string ATab = "", DTab = "", CTab = "";

    if (ViewBag.CurrentTab == "AcctiveCases") { ALink = "active"; ATab = "show active"; }
    if (ViewBag.CurrentTab == "DisposedCases") { DLink = "active"; DTab = "show active"; }
    if (ViewBag.CurrentTab == "CaseTransfer") { CLink = "active"; CTab = "show active"; }

    var LoginUserType = ViewBag.LoginUserType;

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Case Management</li>
                </ol>
            </div>
        </div>
    </div>

</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-file-alt"></i>
                            Case Management
                        </h3>
                    </div>
                    @using (Html.BeginForm())
                    {

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="card card-primary card-outline card-outline-tabs">
                                <div class="card-header p-0 border-bottom-0">
                                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link @ALink" id="AcctiveCasesLink" data-toggle="pill" href="#AcctiveCases" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">All Active Cases</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link @DLink" id="DisposedCasesLink" data-toggle="pill" href="#DisposedCases" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Disposed Cases</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link @CLink" id="CaseTransferLink" data-toggle="pill" href="#CaseTransfer" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Case Transfer</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="custom-tabs-four-tabContent">
                                        <div class="tab-pane fade @ATab" id="AcctiveCases" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">

                                            <div class="row">
                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseStatusActive)
                                                    @Html.DropDownListFor(x => Model.CaseStatusActive, ViewBag.CaseStatus as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })

                                                </div>
                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseTypeActive)
                                                    @Html.DropDownListFor(x => Model.CaseTypeActive, ViewBag.CaseType as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })

                                                </div>
                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseDateActive)
                                                    @Html.EditorFor(model => model.CaseDateActive, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date" } })
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <label for="exampleInputEmail1">&nbsp;</label>
                                                    <div class="pull-right">
                                                        <button id="btnAcctiveCases" type="submit" name="CurrentTab" value="AcctiveCases" class="btn btn-primary">Search</button>
                                                    </div>
                                                </div>

                                            </div>


                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Case No.</th>
                                                        <th>Case Type</th>
                                                        <th>Party</th>
                                                        <th>Respondent</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var Case in Model.Cases.Where(x => x.CaseStatus.Type == CaseStatusType.Normal))
                                                    {
                                                        ASno++;
                                                        <tr class="color-palette disabled" style="background-color:@Case.CaseStatus.HexColorCode">
                                                            <td>@ASno</td>
                                                            <td>@Case.PetitionNo</td>
                                                            <td>@Case.Notice.NoticeType</td>
                                                            @{
                                                                var party = "";
                                                                var respondent = "";

                                                                if (Case.Parties != null && Case.Parties.Count > 0)
                                                                {
                                                                    foreach (var item in Case.Parties)
                                                                    {
                                                                        party = (party + "," + item.PartyName).ToString();
                                                                    }
                                                                }
                                                                if (Case.Respondents != null && Case.Respondents.Count > 0)
                                                                {
                                                                    foreach (var res in Case.Respondents)
                                                                    {
                                                                        respondent = (respondent + "," + res.PartyName).ToString();
                                                                    }
                                                                }
                                                            }
                                                            <td>@party.Substring(1, party.Length - 1)</td>
                                                            <td>@respondent.Substring(1, respondent.Length - 1)</td>
                                                            <td>
                                                                <span class="badge badge-info">
                                                                    @Case.CaseStatus.Name
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-secondary btn-xs" href="@Url.Action("CaseView", "Case", new { id = Case.CaseId })">
                                                                    <i class="fas fa-edit"></i> Edit
                                                                </a>
                                                                @if (LoginUserType == UserType.AG || LoginUserType == UserType.AAG)
                                                                {
                                                                    <a class="btn btn-primary btn-xs" onclick="AssignDuty('@Case.CaseId');">
                                                                        <i class="fas fa-check-square"></i> Assign Duty
                                                                    </a>
                                                                }
                                                            </td>

                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>


                                        </div>
                                        <div class="tab-pane fade @DTab" id="DisposedCases" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">


                                            <div class="row">

                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseTypeDispose)
                                                    @Html.DropDownListFor(x => Model.CaseTypeDispose, ViewBag.CaseType as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })

                                                </div>
                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseDateDispose)
                                                    @Html.EditorFor(model => model.CaseDateDispose, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date" } })
                                                </div>
                                                <div class="col-md-3 form-group"></div>
                                                <div class="col-md-3 form-group">
                                                    <label for="exampleInputEmail1">&nbsp;</label>
                                                    <div class="pull-right">
                                                        <button id="btnDisposedCases" type="submit" name="CurrentTab" value="DisposedCases" class="btn btn-primary">Search</button>
                                                    </div>
                                                </div>

                                            </div>

                                            <table id="example2" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Case No.</th>
                                                        <th>Case Type</th>
                                                        <th>Party</th>
                                                        <th>Respondent</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var Case in Model.Cases.Where(x => x.CaseStatus.Type == CaseStatusType.Dispose))
                                                    {
                                                        DSno++;
                                                        <tr class="color-palette disabled" style="background-color:@Case.CaseStatus.HexColorCode">
                                                            <td>@DSno</td>
                                                            <td>@Case.PetitionNo</td>
                                                            <td>@Case.Notice.NoticeType</td>
                                                            @{
                                                                var party = "";
                                                                var respondent = "";

                                                                if (Case.Parties != null && Case.Parties.Count > 0)
                                                                {
                                                                    foreach (var item in Case.Parties)
                                                                    {
                                                                        party = (party + "," + item.PartyName).ToString();
                                                                    }
                                                                }
                                                                if (Case.Respondents != null && Case.Respondents.Count > 0)
                                                                {
                                                                    foreach (var res in Case.Respondents)
                                                                    {
                                                                        respondent = (respondent + "," + res.PartyName).ToString();
                                                                    }
                                                                }
                                                            }
                                                            <td>@party.Substring(1, party.Length - 1)</td>
                                                            <td>@respondent.Substring(1, respondent.Length - 1)</td>
                                                            <td>
                                                                <span class="badge badge-info">
                                                                    @Case.CaseStatus.Name
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-primary btn-xs" onclick="ReOpenCase('@Case.CaseId');">
                                                                    <i class="fas fa-check-square"></i> Re-open
                                                                </a>
                                                            </td>

                                                        </tr>
                                                    }


                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade @CTab" id="CaseTransfer" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">

                                            <div class="row">
                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseStatusTransfer)
                                                    @Html.DropDownListFor(x => Model.CaseStatusTransfer, ViewBag.CaseStatus as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })

                                                </div>
                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseTypeTransfer)
                                                    @Html.DropDownListFor(x => Model.CaseTypeTransfer, ViewBag.CaseType as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })

                                                </div>
                                                <div class="col-md-3 form-group">
                                                    @Html.LabelFor(model => model.CaseDateTransfer)
                                                    @Html.EditorFor(model => model.CaseDateTransfer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date" } })
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <label for="exampleInputEmail1">&nbsp;</label>
                                                    <div class="pull-right">
                                                        <button id="btnCaseTransfer" type="submit" name="CurrentTab" value="CaseTransfer" class="btn btn-primary">Search</button>
                                                    </div>
                                                </div>

                                            </div>


                                            <table id="example3" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th><input type="checkbox" /></th>
                                                        <th>Case No.</th>
                                                        <th>Case Type</th>
                                                        <th>Party</th>
                                                        <th>Respondent</th>
                                                        <th>Advocate</th>
                                                        <th>Court</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var Case in Model.Cases.Where(x => x.CaseStatus.Type == CaseStatusType.Normal))
                                                    {
                                                        CSno++;
                                                        <tr style="background-color:@Case.CaseStatus.HexColorCode">
                                                            <td>@CSno</td>
                                                            <td>@Case.PetitionNo</td>
                                                            <td>@Case.Notice.NoticeType</td>
                                                            @{
                                                                var party = "";
                                                                var respondent = "";

                                                                if (Case.Parties != null && Case.Parties.Count > 0)
                                                                {
                                                                    foreach (var item in Case.Parties)
                                                                    {
                                                                        party = (party + "," + item.PartyName).ToString();
                                                                    }
                                                                }
                                                                if (Case.Respondents != null && Case.Respondents.Count > 0)
                                                                {
                                                                    foreach (var res in Case.Respondents)
                                                                    {
                                                                        respondent = (respondent + "," + res.PartyName).ToString();
                                                                    }
                                                                }
                                                            }
                                                            <td>@party.Substring(1, party.Length - 1)</td>
                                                            <td>@respondent.Substring(1, respondent.Length - 1)</td>
                                                            <td>@(Case.Advocate?.Name)</td>
                                                            <td>@(Case.Court?.Name)</td>
                                                            <td>
                                                                <span class="badge badge-info">
                                                                    @Case.CaseStatus.Name
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    }



                                                    @*<tr>
                                                            <td><input type="checkbox" /></td>
                                                            <td>Case 001</td>
                                                            <td>Criminal</td>
                                                            <td>ABC</td>
                                                            <td>XYZ</td>
                                                            <td>ADV1</td>
                                                            <td>Court1</td>
                                                            <td><span class="badge badge-info">Rejoinder Affidavit</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox" /></td>
                                                            <td>Case 001</td>
                                                            <td>Criminal</td>
                                                            <td>ABC</td>
                                                            <td>XYZ</td>
                                                            <td>ADV1</td>
                                                            <td>Court1</td>
                                                            <td><span class="badge badge-warning">Counter Affidavit</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox" /></td>
                                                            <td>Case 001</td>
                                                            <td>Criminal</td>
                                                            <td>ABC</td>
                                                            <td>XYZ</td>
                                                            <td>ADV1</td>
                                                            <td>Court1</td>
                                                            <td><span class="badge badge-success">Review Petition</span></td>

                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox" /></td>
                                                            <td>Case 001</td>
                                                            <td>Criminal</td>
                                                            <td>ABC</td>
                                                            <td>XYZ</td>
                                                            <td>ADV1</td>
                                                            <td>Court1</td>
                                                            <td><span class="badge badge-primary">Moved to Supreme Court</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox" /></td>
                                                            <td>Case 001</td>
                                                            <td>Criminal</td>
                                                            <td>ABC</td>
                                                            <td>XYZ</td>
                                                            <td>ADV1</td>
                                                            <td>Court1</td>
                                                            <td><span class="badge badge-secondary">Send back to HC</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox" /></td>
                                                            <td>Case 001</td>
                                                            <td>Criminal</td>
                                                            <td>ABC</td>
                                                            <td>XYZ</td>
                                                            <td>ADV1</td>
                                                            <td>Court1</td>
                                                            <td><span class="badge badge-warning">Return</span></td>
                                                        </tr>*@
                                                </tbody>
                                            </table>


                                            <button class="btn btn-primary float-right mt-4" data-toggle="modal" data-target="#moveto">Move To</button>


                                        </div>

                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>

                        </div>
                    }
                </div>
            </div>

        </div>


    </div>
</section>
<script>
    function AssignDuty(CaseGuid) {
        debugger;
        $("#CaseGuid").val(CaseGuid);
        $("#AssignDutyModal").modal("show");
    }
    function ReOpenCase(CaseGuid) {
        debugger;
        $("#ReCaseGuid").val(CaseGuid);
        $("#ReOpenModal").modal("show");
    }

</script>

<div class="modal" id="AssignDutyModal" tabindex="-1" role="dialog" aria-labelledby="AssignDutyModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            @using (Html.BeginForm("AssignDuty", "Case", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="example1ModalLabel">Assign Duty</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="exampleInputEmail1">Select Council</label>
                            @Html.Hidden("CaseGuid")
                            @Html.LabelFor(model => model.Advocate)
                            @Html.DropDownListFor(x => Model.Advocate, ViewBag.Council as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                        </div>



                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Assigned</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal" id="ReOpenModal" tabindex="-1" role="dialog" aria-labelledby="ReOpenModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            @using (Html.BeginForm("ReOpenCase", "Case", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="example1ModalLabel">ReOpen Case</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">

                            @Html.Hidden("ReCaseGuid")
                            <h2>Are you sure to reopen the case</h2>
                        </div>



                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes Re-Open</button>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {



    <script>
        $(function () {
            $("#example1").DataTable({
                "bFilter": false,
                "responsive": true, "lengthChange": false, "autoWidth": false,
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $("#example2").DataTable({
                "bFilter": false,
                "responsive": true, "lengthChange": false, "autoWidth": false,
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $("#example3").DataTable({
                "bFilter": false,
                "responsive": true, "lengthChange": false, "autoWidth": false,
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        });
    </script>
}
