﻿@model IEnumerable<UPCourt.Web.Models.UserRoleMvcModel>
@using UPCourt.Web.Controllers
@{
    ViewBag.Title = "Index";
    var Controller = this.ViewContext.Controller as UserRoleController;
    bool CanCreate = Controller.IsAccessAuthorised(UPCourt.Entity.PageName.UserRole, UPCourt.Entity.PagePermissionType.CanCreate);
    bool CanEdit = Controller.IsAccessAuthorised(UPCourt.Entity.PageName.UserRole, UPCourt.Entity.PagePermissionType.CanEdit);
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">User Role</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User Role</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            @if (CanCreate)
            {
                <div class="card-header">
                    <h3 class="card-title">
                        @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-block btn-success" })
                    </h3>
                </div>
            }
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>IsSytemCreated</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="tr-class-2">
                                <td>@item.Name</td>
                                <td>@item.Status</td>
                                <td>@item.IsSytemCreated</td>
                                <td class="project-actions text-center">
                                    <a class="btn btn-primary btn-sm" href="@Url.Action("Details", "UserRole", new { id = item.UserRoleId })">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    @if (CanEdit)
                                    {
                                        <a class="btn btn-info btn-sm" href="@Url.Action("Edit", "UserRole", new { id = item.UserRoleId })">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/datatables/CustomDataTable.js")
    @*@Scripts.Render("~/FrontEnd/plugins/datatables/js")*@
    @*@Scripts.Render("~/Scripts/Tables/Data")*@
}

