﻿@model UPCourt.Web.Models.UserMvcModel

@{
    ViewBag.Title = "Edit";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">User Edit</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User Edit</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- general form elements -->
@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "col-md-12" }))
{
    @Html.HiddenFor(model => model.UserId)
    @Html.AntiForgeryToken()
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">User</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @type = "text", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label", @for = "exampleInputEmail1" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", @type = "email", @id = "exampleInputEmail1", @required = "true" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label", @for = "phoneno" })
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contact No.", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label", @for = "Address" })
                        @*@Html.TextAreaFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address ...", @columns = "100", @rows = "3", @style = "width: 100%; max-width: 100%;" } })*@
                        @Html.TextArea("Address", null, new { @class = "form-control", @placeholder = "Enter Address" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.UserRole.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.UserRoleId, ViewBag.UserRoles as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @required = "true", @style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.UserRoleId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label", @for = "password" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Password", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "" }) <br />
                        @Html.EnumDropDownListFor(m => m.Status, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="row">
                        <div class="form-group col-md-12">
                            <label>Role</label>
                            <select class="form-control select2bs4" style="width: 100%;">
                                <option selected="selected">Select one option...</option>
                                <option>Admin</option>
                                <option>CSC</option>
                                <option>Department</option>
                                <option>Public</option>
                            </select>
                        </div>
                    </div>*@
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "" }) <br />
                    @Html.EnumDropDownListFor(m => m.UserType, "--Select--", new { @class = "form-control select2", @required = "true", @style = "width: 100%" })
                    @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.AGDepartmentId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.AGDepartmentId, ViewBag.AGDepartments as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;" })
                    @Html.ValidationMessageFor(model => model.AGDepartmentId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.GovernmentDepartmentId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.GovernmentDepartmentId, ViewBag.GovermentDepartments as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control select2bs4", @style = "width: 100%;" })
                    @Html.ValidationMessageFor(model => model.GovernmentDepartmentId, "", new { @class = "text-danger" })
                </div>
            </div>


            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
}
<!-- /.card -->
@section Scripts {
    @Scripts.Render("~/FrontEnd/plugins/select2/js/CustomSelect.js")
}